<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/ImagesCommon/avatar_border_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1476,501},{137,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,138}</string>
			</dict>
			<key>ui/ImagesCommon/bangthongbao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,550},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>ui/ImagesCommon/bangthongbao_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1913,666},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>ui/ImagesCommon/bet_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,622},{245,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,53}</string>
			</dict>
			<key>ui/ImagesCommon/BG_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,302},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,70}</string>
			</dict>
			<key>ui/ImagesCommon/BG_text_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,672},{232,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,47}</string>
			</dict>
			<key>ui/ImagesCommon/board_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,1045},{46,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,13}</string>
			</dict>
			<key>ui/ImagesCommon/bord_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,483},{332,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,49}</string>
			</dict>
			<key>ui/ImagesCommon/btn_hourly_bonus_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,894},{37,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,50}</string>
			</dict>
			<key>ui/ImagesCommon/button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,787},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_1_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,787},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,841},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_2_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,841},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,358},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_back_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,427},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_back_highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1409,496},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,518},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_close_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,587},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,508},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_setting_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,565},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,634},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_shop_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,703},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,607},{195,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,73}</string>
			</dict>
			<key>ui/ImagesCommon/button_video_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,570},{195,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,73}</string>
			</dict>
			<key>ui/ImagesCommon/combine_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1660,872},{214,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,51}</string>
			</dict>
			<key>ui/ImagesCommon/checkbox_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,958},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/ImagesCommon/chechbox_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,999},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>ui/ImagesCommon/done.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,976},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>ui/ImagesCommon/icon_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,725},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>ui/ImagesCommon/image_icon_notification.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,501},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/ImagesCommon/image_lucky_stick_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,895},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>
			<key>ui/ImagesCommon/image_table_shader.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,3},{256,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,180}</string>
			</dict>
			<key>ui/ImagesCommon/image_unlock_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,846},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>ui/ImagesCommon/image_unlock_enable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,902},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>ui/ImagesCommon/img_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,481},{224,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,83}</string>
			</dict>
			<key>ui/ImagesCommon/img_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,514},{224,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,83}</string>
			</dict>
			<key>ui/ImagesCommon/img_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,537},{187,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,64}</string>
			</dict>
			<key>ui/ImagesCommon/img_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,686},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>ui/ImagesCommon/img_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,748},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>ui/ImagesCommon/img_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,810},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>ui/ImagesCommon/img_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,929},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>ui/ImagesCommon/img_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,991},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>ui/ImagesCommon/img_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,599},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>ui/ImagesCommon/img_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,682},{187,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,64}</string>
			</dict>
			<key>ui/ImagesCommon/img_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,481},{288,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,71}</string>
			</dict>
			<key>ui/ImagesCommon/img_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,538},{236,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,61}</string>
			</dict>
			<key>ui/ImagesCommon/khungten.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,558},{259,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{259,58}</string>
			</dict>
			<key>ui/ImagesCommon/level_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,949},{113,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,7}</string>
			</dict>
			<key>ui/ImagesCommon/level_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,538},{77,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,5}</string>
			</dict>
			<key>ui/ImagesCommon/pg_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,1039},{634,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{634,47}</string>
			</dict>
			<key>ui/ImagesCommon/progress_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1056},{602,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,26}</string>
			</dict>
			<key>ui/ImagesCommon/progress_innerbar_fk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1986,950},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>ui/ImagesCommon/small_ava_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,577},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>ui/ImagesCommon/textfield_stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,378},{2,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,29}</string>
			</dict>
			<key>ui/ImagesCommon/thinking.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,518},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>ui/ImagesCommon/user_avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,672},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>ui/ImagesCommon/user_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,483},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>ui/ImagesCommon/daily_bonus_title_E.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,3},{398,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{398,349}</string>
			</dict>
			<key>ui/ImagesCommon/button_leaderboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,844},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/button_leaderboard_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,880},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/trophy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,782},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/trophy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,888},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/trophy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1879,994},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/button_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,871},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_3_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,873},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/image_icon_notification2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,535},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>ui/ImagesCommon/button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,895},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,937},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_4_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,895},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_playgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,661},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/ads.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,821},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui/ImagesCommon/button_game_center_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,514},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>ui/ImagesCommon/button_game_center_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,1100},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>ui/ImagesCommon/progres_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,981},{636,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{636,52}</string>
			</dict>
			<key>ui/ImagesCommon/button_mailbox_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,645},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_mailbox_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,656},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/icon_mail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1567,714},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/icon_rewards.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,772},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,569},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>ui/ImagesCommon/bangthongbao_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,725},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/button_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,649},{195,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,73}</string>
			</dict>
			<key>ui/ImagesCommon/button_icon_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,603},{195,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,73}</string>
			</dict>
			<key>ui/ImagesCommon/effect_light_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,381},{121,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,163}</string>
			</dict>
			<key>ui/ImagesCommon/gift_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,246},{261,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,229}</string>
			</dict>
			<key>ui/ImagesCommon/gift_box_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,246},{261,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,229}</string>
			</dict>
			<key>ui/ImagesCommon/grow_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,246},{51,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,69}</string>
			</dict>
			<key>ui/ImagesCommon/img_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,732},{105,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>
			<key>ui/ImagesCommon/timebonus_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,189},{173,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,150}</string>
			</dict>
			<key>ui/ImagesCommon/timebonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,345},{173,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,150}</string>
			</dict>
			<key>ui/ImagesCommon/timebonus_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,381},{173,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,150}</string>
			</dict>
			<key>ui/ImagesCommon/timebonus_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,358},{173,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,150}</string>
			</dict>
			<key>ui/ImagesCommon/img_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,969},{124,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,34}</string>
			</dict>
			<key>ui/ImagesCommon/button_help_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,841},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/button_help_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,752},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>ui/ImagesCommon/yellow_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,396},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/avatar_alpha.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,358},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>ui/ImagesCommon/yellow_sliderUp_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,452},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/img_circle_solid.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,558},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/img_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,993},{124,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,34}</string>
			</dict>
			<key>ui/ImagesCommon/img_jackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,605},{236,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,61}</string>
			</dict>
			<key>ui/ImagesCommon/black_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,614},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/front_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,189},{77,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,107}</string>
			</dict>
			<key>ui/ImagesCommon/arrow2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,321},{51,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,69}</string>
			</dict>
			<key>ui/ImagesCommon/up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,783},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/button_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,925},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_5_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,927},{158,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,48}</string>
			</dict>
			<key>ui/ImagesCommon/button_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,787},{119,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,36}</string>
			</dict>
			<key>ui/ImagesCommon/button_6_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,829},{119,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,36}</string>
			</dict>
			<key>ui/ImagesCommon/bg_black_round.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,790},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/loadingcir.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,752},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>ui/ImagesCommon/icon_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,378},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/ImagesCommon/icon_policy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,448},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/ImagesCommon/icon_apple_game_center.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,725},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/bonus_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,3},{587,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{587,237}</string>
			</dict>
			<key>ui/ImagesCommon/daily_bonus_background_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{474,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{474,474}</string>
			</dict>
			<key>ui/ImagesCommon/icon_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,681},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/jackpot_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,3},{300,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,120}</string>
			</dict>
			<key>ui/ImagesCommon/jackpot_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,129},{300,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,120}</string>
			</dict>
			<key>ui/ImagesCommon/jackpot_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,255},{300,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,120}</string>
			</dict>
			<key>ui/ImagesCommon/button_select1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1272,616},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>ui/ImagesCommon/button_select2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,645},{108,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,110}</string>
			</dict>
			<key>ui/ImagesCommon/icon_money_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,929},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>ui/ImagesCommon/icon_playernumber.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,947},{41,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,46}</string>
			</dict>
			<key>ui/ImagesCommon/achi_billionaire.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,767},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_daily.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,831},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,831},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_ggpgs.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,681},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,839},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/achi_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,681},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_millionaire.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,681},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,728},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,767},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,863},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_timebonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,887},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_weekly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,950},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,966},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_winhitpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,986},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_winhitpotmoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1004},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achievement.png</key>
			<dict>
				<key>frame</key>
				<string>{{1453,761},{100,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,113}</string>
			</dict>
			<key>ui/ImagesCommon/icon_achievement.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,910},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/icon_dailychallenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,782},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/icon_weeklychallenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1987,838},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ui/ImagesCommon/achi_challenge_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,1053},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_newday.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,1053},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>ui/ImagesCommon/achi_combine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1835,1100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SpriteSheetCommon.png</string>
			<key>realTextureFileName</key>
			<string>SpriteSheetCommon.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>